* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Montserrat';
	font-size: 16px;
	line-height: 1.6;
	min-width: 320px;
	position: relative;
	margin: 0;
	padding: 0;
	padding-bottom: 150px;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-bottom: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

strong {
	font-weight: 700;
}

.container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
	align-items: center;
}

input, textarea {
	background-color: #F6F6F6;
	font-family: 'Open Sans';
}
input::placeholder, 
textarea::placeholder {
	color: #9F9F9F;
}

/* Header start */
.header-top {
	background-color: rgb(0, 45, 136);
	color: white;
	padding: 18px 0 50px 0;     /* Сверху 18  снизу 62 уступы */
	font-size: 14px;          /* уменьшаем высоту шрифта до 14 */
}
.header-row {
	display: flex;
}
.header-right {
	display: flex;
	column-gap: 74px;
	margin-left: auto;
}
.header-info {
	display: flex;
	align-items: center;
}
.header-info img {
  margin-right: 16px;
  max-width: 21px;
}
.header-social {
	display: flex;
	align-items: center;
	column-gap: 24px;
}
.header-bottom{
	margin-top: -40px;
	
}

.header-bottom-row {
	display: flex;
	background-color: #ee629f;
	color: white;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 11);
}
.header-logo {
	background-color: #fff;
	padding: 10px 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 240px;
	clip-path: polygon(0px 0px, 100% 0%, 82% 100%, 0px 100%);

}

.header-nav {
	padding: 10px 15px;
	margin-left: -40px;
}
.header-nav ul {
	display: flex;
	list-style-type: none;   /* Убираем точки */
	padding: 0px;
	column-gap: 50px;

}

/* Header end */
